<h1 mat-dialog-title>Crear un nuevo código QR</h1>

<div mat-dialog-content *ngIf="!isLoading">
    <mat-form-field class="add-field">
        <mat-label>URL de destino</mat-label>
        <input matInput placeholder="google.es" autocomplete="off" [formControl]="destinationFormControl" (keyup.enter)="clickSend()">
        <mat-hint align="start">URL donde redirigirá inicialmente el código QR</mat-hint>
        <mat-error *ngIf="destinationFormControl.hasError('required')">
            Campo obligatorio
        </mat-error>
    </mat-form-field>

    <mat-form-field class="add-field">
        <mat-label>Identificador (Opcional)</mat-label>
        <input matInput placeholder="carta_mirestaurante" autocomplete="off" [formControl]="identifierFormControl" [errorStateMatcher]="matcher" (keyup.enter)="clickSend()">
        <mat-hint align="end">{{identifierFormControl.value.length}} / 16</mat-hint>
        <mat-error *ngIf="identifierFormControl.hasError('minlength')">
            Introduce 3 caracteres como mínimo
        </mat-error>
        <mat-error *ngIf="identifierFormControl.hasError('maxlength')">
            Límite de 16 caracteres
        </mat-error>
        <mat-icon matSuffix aria-label="Que es esto?" matTooltip="Al crear un código QR, se generará un enlace acortado, el cual será el que se convertirá en QR. Si planeas utilizar también este enlace, además del código QR, puedes personalizarlo aquí con el texto que prefieras">
            help_outline</mat-icon>
    </mat-form-field>
    <p></p>
</div>
<div mat-dialog-content *ngIf="isLoading">
    <p>Creando código QR</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div mat-dialog-actions align="end" *ngIf="!isLoading">
    <button mat-button (click)="clickCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="clickSend()">Crear</button>
</div>