<mat-sidenav-container fxFlexFill class="mainContainer">
    <mat-sidenav color="primary" #sidenav mode="over" opened="false" fxHide.gt-sm="true">
        <mat-nav-list *ngIf="sessService.lastIsLoggedInResponse">
            <a mat-list-item routerLink="/" (click)="sidenav.toggle()">
                <mat-icon>home</mat-icon> <span class="nav-caption">Inicio</span>
            </a>
            <a mat-list-item routerLink="/qrcodes" (click)="sidenav.toggle()">
                <mat-icon>qr_code</mat-icon> <span class="nav-caption">Tus códigos QR</span>
            </a>
            <a mat-list-item routerLink="/account" (click)="sidenav.toggle()">
                <mat-icon>account_box</mat-icon> <span class="nav-caption">Cuenta</span>
            </a>
            <a mat-list-item routerLink="/logout" (click)="sidenav.toggle()">
                <mat-icon>logout</mat-icon> <span class="nav-caption">Cerrar sesión</span>
            </a>
        </mat-nav-list>
        <mat-nav-list *ngIf="!sessService.lastIsLoggedInResponse">
            <a mat-list-item routerLink="/" (click)="sidenav.toggle()">
                <mat-icon>home</mat-icon> <span class="nav-caption">Inicio</span>
            </a>
            <a mat-list-item routerLink="/login" (click)="sidenav.toggle()">
                <mat-icon>login</mat-icon> <span class="nav-caption">Iniciar sesión</span>
            </a>
            <a mat-list-item routerLink="/register" (click)="sidenav.toggle()">
                <mat-icon>person_add</mat-icon> <span class="nav-caption">Regístrate</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <mat-toolbar color="primary" class="navbar">
            <div fxShow="true" fxHide.gt-sm="true">
                <button mat-icon-button (click)="sidenav.toggle()">
					<mat-icon>menu</mat-icon>
				</button>
            </div>
            <a routerLink="/" routerLinkActive="active" class="webTitle">TusCódigosQR</a>
            <div fxShow="true" fxHide.lt-md="true" *ngIf="sessService.lastIsLoggedInResponse">
                &nbsp; &nbsp; &nbsp;
                <a mat-button routerLink="/qrcodes">Tus códigos QR</a>
                <a mat-button routerLink="/account">Cuenta</a>
                <a mat-button routerLink="/logout">Cerrar sesión</a>
            </div>

            <!-- Inicio Spacer central -->
            <span class="middle-spacer"></span>
            <!-- Fin Spacer central -->

            <div fxShow="true" fxHide.lt-md="true" *ngIf="!sessService.lastIsLoggedInResponse">
                <a mat-button routerLink="/login">Iniciar sesión</a>
                <a mat-raised-button routerLink="/register">Regístrate</a>
            </div>
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>