.container {
    text-align: center;
}

.left {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
    text-align: center;
}

.right {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}