<div class="fullwidth">
    <header>
        <div class="header-content">
            <h1>TusCódigosQR</h1>
            <p>Generación de códigos QR dinámicos.</p>
            <p>Utiliza los enlaces del menú superior para registrarte, iniciar sesión y ¡comenzar a crear tus QR!</p>
        </div>

    </header>
    <main>
        <div class="main-elem">
            <h2>Ilimitado</h2>
            <p>Podrás crear, modificar y eliminar tantos códigos QR dinámicos como desees.</p>
        </div>
        <div class="main-elem">
            <h2>Personalizable</h2>
            <p>Podrás personalizar tus códigos QR, añadiendo el logotipo o los colores que desees.</p>
        </div>
        <div class="main-elem">
            <h2>Funciones avanzadas</h2>
            <p>Consulta en tiempo real el origen de tus visitas, el idioma mas utilizado o el tipo de dispositivo más común entre todas las personas que visiten tus enlaces.</p>
        </div>
    </main>
</div>