.emailCard {
    max-width: 600px;
    margin: auto;
}

.email-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}

.email-field {
    width: 90%;
    padding: 1.5em;
}

.acciones {
    text-align: right;
    margin-right: 10px;
}