.containerTable {
    width: 100%;
    overflow: auto;
}

.floatingBtn {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

@media (min-width: 1200px) {
    .floatingBtn {
        position: absolute;
        bottom: 2em;
        right: 2em;
    }
}

@media (max-width: 400px) {
    .mat-cell {
        max-width: 33vw;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
}

::ng-deep .mat-tooltip {
    font-size: 0.8em !important;
}

tr.qrlist-detail-row {
    height: 0;
}

tr.qrlist-element-row:not(.qrlist-expanded-row):hover {
    /* background: rgb(77, 77, 77); */
    background: whitesmoke;
}

tr.qrlist-element-row:not(.qrlist-expanded-row):active {
    /* background: rgb(77, 77, 77); */
    background: #efefef;
}

.qrlist-element-row td {
    border-bottom-width: 0;
}

.qrlist-element-detail {
    overflow: hidden;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.qrlist-element-detail-info {
    display: flex;
    /*border: 1px solid lightgray;*/
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    min-width: 100px;
    min-height: 100px;
    vertical-align: middle;
}

.qrlist-element-image {
    margin: 8px 0;
    width: 128px;
    height: 128px;
}

.qrlist-element-details {
    margin-left: 10px;
    vertical-align: middle;
}