.containerTable {
    width: 100%;
    overflow: auto;
}

table {}

.floatingBtn {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

@media (min-width: 1200px) {
    .floatingBtn {
        position: absolute;
        bottom: 2em;
        right: 2em;
    }
}

::ng-deep .mat-tooltip {
    font-size: 0.8em !important;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}