<h1>Mis códigos QR</h1>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element">{{ beautifyString(element.id, 10) }}</td>
        </ng-container>

        <!-- Destination Column -->
        <ng-container matColumnDef="destination_url">
            <th mat-header-cell *matHeaderCellDef> Destino </th>
            <td mat-cell *matCellDef="let element">
                <a mat-button [href]="element.destination_url" target="_blank">{{ beautifyString(element.destination_url, 20) }}</a>
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" aria-label="Editar">
					<mat-icon>edit</mat-icon>
				</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
<div class="floatingBtn">
    <button mat-fab color="primary" aria-label="Add new QR Code" matTooltip="Añadir nuevo QR" [matTooltipPosition]="'before'" (click)="openAddDialog()">
		<mat-icon>add</mat-icon>
	</button>
</div>